<form autocomplete="off">
    {{> "n5eb.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "N5EB.HitDie"}}</label>
        <span class="form-field-readonly">{{hitDie}}</span>
    </div>
</form>
