packs/backgrounds/LOCK
packs/classes/LOCK
packs/classfeatures/LOCK
packs/heroes/LOCK
packs/items/LOCK
packs/monsterfeatures/LOCK
packs/monsters/LOCK
packs/races/LOCK
packs/rules/LOCK
packs/spells/LOCK
packs/subclasses/LOCK
packs/tables/LOCK
packs/tradegoods/LOCK
