{{#if isItem}}
<div class="item-detail item-jutsu-type" data-tooltip aria-label="{{ entry.labels.jutsuType }}"
     data-column-id="jutsuType">
    {{ entry.labels.jutsuType }}
</div>
{{else}}
<div class="item-detail item-jutsu-type empty" data-column-id="jutsuType"></div>
{{/if}}
