<div class="n5eb2 chat-card request-card">
    <div class="card-buttons">
        <button {{n5eb-dataset dataset}}>
            <span class="visible-dc">{{{buttonLabel}}}</span>
            <span class="hidden-dc">{{{hiddenLabel}}}</span>
        </button>
    </div>
</div>
