<div class="tab downtime" data-group="primary" data-tab="downtime">
  
  {{!-- Futue Plans, make buttons and menus for downtime --}}
  
  {{!-- Journal Section --}}
  <div class="bottom">
    <h3 class="icon">
      <i class="fas fa-pencil-alt"></i>
      <span class="roboto-upper">{{ localize "N5EB.DowntimeJournal" }}</span>
    </h3>
    {{ editor downtimeHTML target="system.details.downtime.value" button=false editable=@root.editable
              engine="prosemirror" collaborate=false }}
  </div>
  
</div>
